/*================================================
Fonts
================================================*/

/* Start Variables */
:root {
  --color-primary: #0071ef;
  --white-color:#ecf1f8;
  --main-white: #fff;
  --main-transition: all 0.3s ease-in-out;
  --body-fonts: "Nunito Sans", sans-serif;
  --title-fonts: "Jost", sans-serif;
  --secondary-color: #616161;
  --dark-color:black;
    
}
/* :root {
  --primary-color: #0071ef;
  --dark-color: #151515;
  --secondary-color: #616161;
  --grey-color: #f7f8f9;
  --white-color: #ffffff;
  --body-fonts: "Nunito Sans", sans-serif;
  --title-fonts: "Jost", sans-serif;
  --transparent-color: rgb(253 74 24 / 72%);
  --section-padding: 80px;

    --light: #fff;
 
}
.italicFont {
  color: green !important;
}
::-moz-selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}
::selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
} */

/* End Variables */
/* Start Global Rules */
/*
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--white-color);
  font-family: var(--body-fonts), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-fonts);
  color: var(--dark-color);
  font-style: normal;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  word-wrap: break-word;
}
p,span,strong{
    text-transform: capitalize;
    margin-bottom: 0px;
}

span{
    font-size: 10px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none !important;
}

h1 {
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
}

h2 {
  font-size: 36px;
  font-style: normal;
  line-height: 44px;
}

h3 {
  font-size: 32px;
  font-style: normal;
  line-height: 40px;
}

h4 {
  font-size: 28px;
  font-style: normal;
  line-height: 36px;
}

h5 {
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
}
*/
/* landing */

.landing {
    background-image: url(/assets/images/home/1.jpg);
  top: 135px;
width: 100%;
  background-size: cover;
  min-height:77vh;
  position: relative;

}

.landing .content {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  top: 100px;
  line-height: 1.3;
}

.landing .content h4{
font-size: 1.5em;
}


.landing .content b{
  font-weight:700;
font-size: 2.8em;
color:black ;
}

.landing .content .blue-color{
  color: var(--color-primary);
}

.landing .content .btn-primary{
margin-top: 20px;
  width: 120px;
}





/* start Specialized */

.specialized {
  padding-top: 200px;
  background: var(--white-color);
}


 .specialized .specialisations {
  display: grid;
  grid-template-columns: auto auto auto auto;
gap: 20px;
margin-top: 50px;
padding-bottom: 100px;
}

.specialized .card {
  display: flex;
  flex-direction: column;
background-color: white;
padding: 20px 15px;
gap: 15px;
}


.specialized .card img{
  width: 40px;
}
.specialized .card .card-body{
display: flex;
flex-direction: column;
gap: 5px;
}

.specialized .card .card-body span{
  font-weight: 600;
  color: #000;
}

/*************************Best our departments********/


.Best-centers .container {
padding-top: 80px;
}

.Best-centers .icons
{
display: flex;
padding: 0px 30px;
gap: 5px;
justify-content: center;
}

.Best-centers .icons .icon{
  max-width: 60px;
    background-color: #F6FAFF;
    padding: 10px;
}






.Best-centers .speciality-rhinology {
    box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  justify-content: space-between;

    background-color: white;
    display: flex;
    max-height: 345px;
    
}
.Best-centers .speciality-rhinology img{
   
  padding: 10px;
 width: 500px;
}

.Best-centers .speciality-rhinology .left{
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Best-centers .left p{
    font-size: 11px;
    font-weight: 400;
    color:rgb(147, 138, 138);
}

.Best-centers .speciality-rhinology .services {
  display: grid;
grid-template-columns: auto auto;
row-gap: 10px;
}

.Best-centers .speciality-rhinology .services span::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    position: relative;
    
    top: 0px;
    left: 0;
 margin-right: 3px;
    font-size: 10px;
    color: var(--color-primary);

}




/***************************info************/

.info{
    background-color: var(--color-primary);

    color: white;
    position: relative;
    top: -12px;
    z-index: -1;

}

.info .informtions
{
  display: flex;
  justify-content: space-between;
    padding: 60px 0px;

  
}

.info .informtions .single-info{
  display: flex;
  gap: 13px;
}


.info .informtions .single-info .details{
  display: flex;
  flex-direction: column;
  line-height: 1.3;

}


.info i{

  font-size: 30px;
}

.info strong{
    font-weight: 600;
    font-family: jost;
    font-size: 20px;

}

.info .col{
 
    background-color: #151515;
    border: 1px solid gray;

} 

/*********doctors**********/

.Doctors .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.Doctors img{
width: 230px;

}
.Doctors .docs {
  display: flex;
justify-content: space-between;
}
.Doctors .docs .col{
  display: flex;
  flex-direction: column;
}

.Doctors strong{
    font-size: 12px;
    font-weight: 800;

}


.Doctors .mid{
display: flex;
flex-direction: column;
  line-height: 1.6;
  padding: 8px;
  color: white;

}

.Doctors .first{
  background-color: #37C9DD;
}

.Doctors .second{
  background-color: #3FA5EB;
}

.Doctors .three{
  background-color:#0383CD ;
}

.Doctors .four{
  background-color:#3156A3 ;
}


.Doctors .bottom{
    width: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 1.5;
    
}

.Doctors .bottom strong{
    font-size: 10px;
}
.Doctors .bottom span{
    color: rgb(158, 152, 152);
 font-size: 10px;
}

.Doctors button{
  position: relative; /* or absolute depending on the context */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;

} 

/*******order**************/

.order {
    color: white;
}

.order .container {
margin: 0px;
padding: 0px;
width: 100%;
}
 .orders {
 
  display: grid;
  grid-template-columns: 50% 50%;
  
 } 

.order h1{
    font-size: 25px;
    line-height: 1.5;
    color: white;
}

.order .hours 
{
margin-left: -10px;
margin-bottom: 30px;
}
  
.order .left {
  padding: 80px 0px;
    background-color:#7B66FF ;


}

.order .right {
  padding: 80px 180px 80px 40px;
    background-color:#64B4F1 ;
}

.order .appointemnts {
   margin-left: 170px;
    text-align: start;

}
  

.order .appointemnts .appointemnt {
  display: flex;
    border-bottom: 1px solid rgb(151, 141, 141);
    justify-content: space-between;
    width: 400px;
    padding: 6px 0px;


}

.order .appointemnts .appointemnt:last-child{
border-bottom: none;
}

.order .appointemnts .appointemnt .col {
    padding: 5px 0px;
    font-size: 12px;

}

.form-right {
  display: flex;
  flex-direction: column;
}

.form-right h1{
    margin: -11px 0;
}

.form-right input{

    background-color: #64B4F1;
    color: white;
    border: 1px solid rgb(218, 217, 216);
    padding: 5px;
    font-size: 10px;
    

}

.form-right input::placeholder{
    color: white;
}

.form-right button{
  border: none;
  color: var(--primary-color);
  width: 130px;
  font-size: 11px;
  padding: 4px 0px;
}


/*****news feed*********/

/* 
.news-feed {
  background-color: #F5F9FF;
}

.news-feed col{
 
}
.news-feed img{
  border-radius: 0px;
}


.news-feed .mid {
  padding: 10px;
  line-height: 1.6;
  border-bottom: 1px solid rgb(146, 139, 139);
  background-color: white;
}

.news-feed .mid span {
  color: #A3DBFC;
}

.news-feed .mid strong {

  font-size: 12px;
  font-weight: 800;
}


.news-feed .mid p {

  font-size: 9px;

}

.news-feed b {
  font-size: 11px;
  font-weight: 600;
  padding: 10px;
  color: black;
  background-color: white;
} */


/********logos*********/

/* .logos img {
  width:50px;

} */

/****join***/
/* 
.join {
  background-color: var(--primary-color);
  padding: 20px 0px;
}

.join h1 {
  font-size: 27px;
  color: white;
}


.join .input {
  align-items: center;
  
  height: 37px;
  background-color: white;
padding: 3px;
gap: 150px;
}


.join .input i {
  color: var(--primary-color);
}


.join  button {
  color: white;
  background-color: var(--primary-color);
  padding: 1px 15px;
  border: none;
  font-size: 13px;
} */


/**********footer***********/
/* 
.footer h3{
  font-size: 20px;
}

.footer p {
  font-size: 10px;
}

.footer ul {
  padding-left: 0rem;
}

.footer ul  li {
  font-size: 10px;
}

.footer ul  li i {
  color: var(--primary-color);
}


.footer   .arrow  li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 600;
  position: relative;
  top: 0px;
  left: 0;
  line-height: 18px;
  font-size: 6px;
  margin-right: 4px;
}


.opening-hours{
  font-size: 10px;
} */






