/*================================================
Fonts
================================================*/

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* Start Variables */
:root {
  --primary-color: #0071ef;
  --dark-color: #151515;
  --secondary-color: #616161;
  --grey-color: #f7f8f9;
  --white-color: #ffffff;
  --body-fonts: "Nunito Sans", sans-serif;
  --title-fonts: "Jost", sans-serif;
  --transparent-color: rgb(253 74 24 / 72%);
  --section-padding: 80px;

    --light: #fff;
 
}
.italicFont {
  color: green !important;
}
::-moz-selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}
::selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--white-color);
  font-family: var(--body-fonts), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-fonts);
  color: var(--dark-color);
  font-style: normal;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  word-wrap: break-word;
}
p,span,strong{
    text-transform: capitalize;
    margin-bottom: 0px;
}

span{
    font-size: 10px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none !important;
}

h1 {
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
}

h2 {
  font-size: 36px;
  font-style: normal;
  line-height: 44px;
}

h3 {
  font-size: 32px;
  font-style: normal;
  line-height: 40px;
}

h4 {
  font-size: 28px;
  font-style: normal;
  line-height: 36px;
}

h5 {
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
}

/* start nav */
nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}
nav header {
  height: 50px;
  background-color: var(--light);
  padding: 10px;
  background-color: white;
}
nav header img {
  width: 150PX;
  height: 30px;

}
nav header ul {
  min-width: 600px;
  list-style: none;

}
nav header ul li {
  min-width: 150px;
  min-height: 30px;
  display: flex;
  justify-content: space-around;
}
nav header ul li img {
  width: 20px;
  height: 20px;
  margin: 5px;
}
nav header ul li p {
  line-height: 1.5;
  font-size: 12px;
  margin: 0px 10px;
  color: rgb(128, 128, 128);
}
nav header ul li p span {
  color: #000;
  font-weight: bold;
}
nav footer {
  height: 45px;
}
nav footer ul {
  padding: 0;
  margin: 0 0 0 180px;
  min-width: 800px;
  list-style: none;
}
nav footer ul li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--light);
}
/* end nav */
/* start cntaner-img */

.bg-img {
  width: 100vw;
  object-fit: cover;
  margin-top: 97px;
}
.contaner-img .content {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 10%;
  line-height: 1.5;
}

.contaner-img .content h4{
  font-weight: 500;
}
.contaner-img .content .text-primary{
  font-size: 39px;
  font-weight: 800;
}

.contaner-img .content p {
  font-size: 44px;
  color: black;
}

.contaner-img .content button{
  font-size: 11px;
}


/* end cntaner-img */
/* start Specialized */
.contaner-sp {
  min-height: 600px;
  background-color: #f5f9ff;
}
.card img {
  width: 60px;
  height: 60px;
  margin: 40px 10px 10px 20px;
}

/*===== HTML Tags =====*/
a,
.button {
  color: var(--primary-color);
  outline: none !important;
  transition: all 0.5s ease-in-out;
  text-decoration: none !important;
}

a:focus,
a:hover {
  color: var(--primary-color);
  outline: none;
}

textarea {
  resize: vertical;
}



pre {
  background: var(--white-color);
  padding: 15px;
  border: 1px solid var(--grey-color);
}

hr {
  margin: 0;
  padding: 0px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 0px;
}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: none;
}












/*************************Best our departments********/


.Best-centers {

}

.Best-centers .icon{
  max-width: 60px;
    background-color: #F6FAFF;
    border-radius: 0px;
    padding: 10px;
}

.text p{
    font-size: 1rem;
color: gray;  
line-height: 2;

}

.text h1{
    font-size: 1.3rem;
    padding-bottom: 0px;
  line-height: 1.2;
}

.Best-centers .speciality-rhinology {
    box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
    width: 67%;
    padding: 8px;
    background-color: white;
    
}
.Best-centers .speciality-rhinology img{
    border-radius: 0px;
    height: 290px;
}

.Best-centers .speciality-rhinology .left{
    width: 380px;
}

.Best-centers .left p{
    font-size: 11px;
    font-weight: 600;
    color:rgb(147, 138, 138);
}

.Best-centers .speciality-rhinology .services span::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    position: relative;
    top: 0px;
    left: 0;
 margin-right: 3px;
    font-size: 10px;
    color: var(--primary-color);

}

.Best-centers .speciality-rhinology .left button{
    background-color: var(--primary-color);
    border: none;
    font-size: 10px;
    padding: 3px 8px;
    color: white;
    border-radius: 2px;

}


/***************************info************/

.info{
    
    color: white;
    position: relative;
    top: -26px;
    z-index: -1;

}

.info .row
{
    padding: 45px;
    background-color: var(--primary-color);
}

.info i{
  font-size: 30px;
}

.info strong{
    font-weight: 600;
    font-family: jost;
    font-size: 20px;

}

.info .col{
 
    background-color: #151515;
    border: 1px solid gray;

} 

/*********doctors**********/
.Doctors img{
width: 170px;
border-radius: 0px;
}

.Doctors strong{
    font-size: 12px;
    font-weight: 800;

}
.Doctors .col{
   
}

.Doctors .mid{
width: 170px;
  line-height: 1;
  padding: 8px;
  color: white;

}

.Doctors .first{
  background-color: #37C9DD;
}

.Doctors .second{
  background-color: #3FA5EB;
}

.Doctors .three{
  background-color:#0383CD ;
}

.Doctors .four{
  background-color:#3156A3 ;
}


.Doctors .bottom{
    width: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 1.5;
    
}

.Doctors .bottom strong{
    font-size: 10px;
}
.Doctors .bottom span{
    color: rgb(158, 152, 152);
 font-size: 10px;
}

.Doctors button{
  background-color: var(--primary-color);
  border: none;
  font-size: 10px;
  padding: 3px 8px;
  color: white;
  border-radius: 2px;
  margin-left: 45.5%;
  margin-top: 20px;
}

/*******order**************/
.order {
    color: white;
}
.order h1{
    font-size: 25px;
    line-height: 1.5;
    color: white;
}

.order .hours 
{
margin-left: -10px;
}
  
.order .left {
    background-color:#7B66FF ;
text-align: end;

}

.order .right {
    background-color:#64B4F1 ;
}

.order .appointemnts {
   margin-left: 170px;
    text-align: start;
}
  

.order .appointemnts .row {
    border-bottom: 1px solid rgb(151, 141, 141);
    justify-content: space-between;
    width: 300px;
    padding: 6px 0px;


}

.order .appointemnts .row:last-child{
border-bottom: none;
}

.order .appointemnts .row .col-auto {
    padding: 0px;
    font-size: 12px;

}

.form-right h1{
    margin: -11px 0;
}

.form-right input{

    background-color: #64B4F1;
    color: white;
    border: 1px solid rgb(218, 217, 216);
    padding: 5px;
    font-size: 10px;
    

}

.form-right input::placeholder{
    color: white;
}

.form-right button{
  border: none;
  color: var(--primary-color);
  width: 130px;
  font-size: 11px;
  padding: 4px 0px;
}


/*****news feed*********/


.news-feed {
  background-color: #F5F9FF;
}

.news-feed col{
 
}
.news-feed img{
  border-radius: 0px;
}


.news-feed .mid {
  padding: 10px;
  line-height: 1.6;
  border-bottom: 1px solid rgb(146, 139, 139);
  background-color: white;
}

.news-feed .mid span {
  color: #A3DBFC;
}

.news-feed .mid strong {

  font-size: 12px;
  font-weight: 800;
}


.news-feed .mid p {

  font-size: 9px;

}

.news-feed b {
  font-size: 11px;
  font-weight: 600;
  padding: 10px;
  color: black;
  background-color: white;
}


/********logos*********/
.logos img {
  width:50px;

}

/****join***/

.join {
  background-color: var(--primary-color);
  padding: 20px 0px;
}

.join h1 {
  font-size: 27px;
  color: white;
}


.join .input {
  align-items: center;
  
  height: 37px;
  background-color: white;
padding: 3px;
gap: 150px;
}


.join .input i {
  color: var(--primary-color);
}


.join  button {
  color: white;
  background-color: var(--primary-color);
  padding: 1px 15px;
  border: none;
  font-size: 13px;
}


/**********footer***********/

.footer h3{
  font-size: 20px;
}

.footer p {
  font-size: 10px;
}

.footer ul {
  padding-left: 0rem;
}

.footer ul  li {
  font-size: 10px;
}

.footer ul  li i {
  color: var(--primary-color);
}


.footer   .arrow  li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 600;
  position: relative;
  top: 0px;
  left: 0;
  line-height: 18px;
  font-size: 6px;
  margin-right: 4px;
}


.opening-hours{
  font-size: 10px;
}






